body
{
    background-color: orange;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#game
{
    margin: 0px auto;
    padding: 0;
    width: 100%;
}
#match-up
{
    height: auto;
    position: absolute;
    bottom: 10px;
}

#middleofpage
{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 200px;
    justify-content: center;
    
}

#play
{
    height: 50px;
    width: 200px;
}

#charButtons
{
    height: 200px;
    border-radius: 50%;
}

#charButtons button
{
    background-color: purple;
    height: 200px;
    width: 200px;
    margin: auto;
    background-size: 200px 200px;
    background-repeat: no-repeat;
}

#charButtons button label
{
    opacity: .8;
    color: yellow;
    position: relative;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 135px;
}

#player
{
    justify-content: center;
}

#attack
{
    display: flex;
    justify-content: center;    
    margin-bottom: 20px;
    border: 5px solid black;
    background-color: green;
}

#playerHP
{
    position: absolute;
    z-index: 100;
}


#enemyHP
{
    position: absolute;
    z-index: 100;
}

#battleSummary
{
    display: flex;
    text-align: center;
    width: 50%;
    margin: auto;
}

#victoryMessage
{
    text-align: center;
    font-size: 54px;
}



/* #charSelect
{
    background-color: yellow;
    align-items: center;
    justify-content: center;
    height: 50px;
} */



/* #empty
{
    
    background-color: black;
}

#teams .col-lg-2
{
    display: block;
    height: 200px;
    width: 100%;
    background-color: white;
    float: left;
    justify-content: center;
}

#teams .col-lg-2 .row
{
    justify-content: center;
} */





